{% extends 'gamerecaps/base.html' %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <!-- <div>
        {% for date in previous_dates %}
            <small><a href="/{{ date.year }}/{{ date.month }}/{{ date.day }}" >{{ date.date }}</a></small>
        {% endfor %}
    </div> -->
    <h1 class="display-4">Today's Games</h1>
    <!-- <div>
        {% for date in future_dates %}
            <small><a href="/{{ date.year }}/{{ date.month }}/{{ date.day }}" >{{ date.date }}</a></small>
        {% endfor %}
        <small><a href="/todaysgames" >Today's Games</a></small>
    </div> -->
</div>



<div class="container">
    <div class="card-deck mb-3 text-center grid-ish">
<!-- {% for game in games %}
{% if  forloop.counter == 1 %}
    
{% elif  forloop.counter|add:"-1"|divisibleby:3 %}
    
{% endif %} -->

        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">
              <img class="team_logo" team_id="{{ game.awayTeam.teamId }}" src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_80x64/{{ game.awayTeam.teamTricode|lower }}.gif" width="60" height="48"></img> 
              vs 
              <img class="team_logo" team_id="{{ game.homeTeam.teamId }}" src="https://www.nba.com/.element/img/1.0/teamsites/logos/teamlogos_80x64/{{ game.homeTeam.teamTricode|lower }}.gif" width="60" height="48"></img></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ game.awayTeam.score }} - {{ game.homeTeam.score }}</h1>
            <h5 class="card-title pricing-card-title">{{ game.gameStatusText }}</h5>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <table class="table-sm">
                            <tr>
                                <th></th>
                                {% for period in game.homeTeam.periods %}
                                <th>{{ period.period }}</th>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>{{ game.awayTeam.teamTricode }}</th>
                                {% for period in game.awayTeam.periods %}
                                <td>{{ period.score }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>{{ game.homeTeam.teamTricode }}</th>
                                {% for period in game.homeTeam.periods %}
                                <td>{{ period.score }}</td>
                                {% endfor %}
                            </tr>
            
                        </table>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <table class="table-sm">
                            <tr>
                                <th></th>
                                <th>Pts</th>
                                <th>Reb</th>
                                <th>Ast</th>
                                
                            </tr>
                            <tr>
                                <th>{{ game.gameLeaders.awayLeaders.name_parsed }}</th>
                                <td>{{ game.gameLeaders.awayLeaders.points }}</td>
                                <td>{{ game.gameLeaders.awayLeaders.rebounds }}</td>
                                <td>{{ game.gameLeaders.awayLeaders.assists }}</td>
                            </tr>
                            <tr>
                                <th>{{ game.gameLeaders.homeLeaders.name_parsed }}</th>
                                <td>{{ game.gameLeaders.homeLeaders.points }}</td>
                                <td>{{ game.gameLeaders.homeLeaders.rebounds }}</td>
                                <td>{{ game.gameLeaders.homeLeaders.assists }}</td>
                            </tr>
            
                        </table>
                    </div>
                </div>
            </div>
              <a href="/todaysgames/{{ game.gameId }}">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">See details</button>
              </a>

          </div>
        </div>

  <!-- {% if forloop.last  %}
    {% elif  forloop.counter|divisibleby:2 %} -->
        <!-- <div class="w-100 d-none d-sm-block d-md-none"></div> --><!-- wrap every 2 on sm-->
        <!-- {% if  forloop.counter|divisibleby:4 %} -->
        <!-- <div class="w-100 d-none d-lg-block d-xl-none"></div> --><!-- wrap every 4 on lg-->
        <!-- {% endif %}
{% elif  forloop.counter|divisibleby:3 %} -->
        <!-- <div class="w-100 d-none d-md-block d-lg-none"></div> --><!-- wrap every 3 on md-->
<!-- {% elif  forloop.counter|divisibleby:5 %} -->
        <!-- wrap every 5 on xl-->
        <!-- <div class="w-100 d-none d-xl-block"></div>
{% endif %}
{% endfor %} -->
</div>
</div>

{% endblock %}
